.page {
  font-family: 'IBM Plex mono', 'Courier New', monospace;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 1s 0s;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: min-content max-content;
  min-height: max(100dvh, 668px);
  padding: clamp(10px, 0.46px + 2.54vw, 20px);
  color: var(--cropping-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: clamp(10px, 0.46px + 2.54vw, 20px);
  right: clamp(10px, 0.46px + 2.54vw, 20px);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--cropping-color);
  border-right: 1px solid var(--cropping-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: clamp(10px, 0.46px + 2.54vw, 20px);
  left: clamp(10px, 0.46px + 2.54vw, 20px);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--cropping-color);
  border-left: 1px solid var(--cropping-color);
}

.header__decoration-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: clamp(10px, 0.46px + 2.54vw, 20px);
  right: clamp(19px, 9.46px + 2.54vw, 29px);
  width: 52px;
  text-transform: uppercase;
  color: var(--label-color);
  font-size: 18px;
  font-weight: 400;
  transition: color 1s 0.5s;
}

.header__decoration-label::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--label-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--label-color);
  transition: all 1s 0.5s;
}

.header__theme-menu {
  justify-self: flex-end;
  margin-block-start: clamp(61px, -40.15px + 26.97vw, 167px);
  font-size: 18px;
}

.header__theme-menu-list {
  font-weight: 400;
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  border: 1px solid transparent;
  transition: color 1s 0s;
}

.header__theme-menu-button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid var(--cropping-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--cropping-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: clamp(69px, -38.05px + 27.48vw, 177px);
  transition: all 1s 0s;
}

.header__sub-title {
  align-self: start;
  justify-self: end;
  margin-block-start: clamp(54px, -48.10px + 27.23vw, 161px);
  background-color: var(--accent-color);
  width: 100%;
  max-width: 364px;
}

.sub-title-decor {
  font-weight: 700;
  color: var(--sub-title-color);
  background-color: var(--accent-color);
  transition: all 1s 0s;
}

.main {
  padding: 0 clamp(10px, 0.46px + 2.54vw, 20px);
}

.section__title {
  padding: 40px 0 10px;
  color: var(--cropping-color);
}

.section__title + .sub-title-decor {
  margin-block: 10px 10px;
}

.card {
  padding: clamp(10px, 0.46px + 2.54vw, 20px) 0;
}

.title-concentration {
  font-weight: 400;
}

.card__text {
  margin-block-start: 10px;
  color: var(--text-color);
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.pictures {
  margin-block: 40px 40px;
}

.galery {
  margin-block-start: 10px;
  display: grid;
  gap: 5px;
}

.pictures__item-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  position: relative;
  height: 100dvh;
  min-height: 668px;
  padding: clamp(10px, 0.46px + 2.54vw, 20px);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-shadow: 1px 1px 0 var(--accent-color);
  color: var(--title-color);
}

@media  screen and (min-width: 768px) {

  .header {
    min-height: max(100dvh, 1024px);
  }

  .header__title {
    margin-left: -20px;
  }

  .section__intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "title card1"
    ".     card2";
    gap: 20px;
    margin-block-start: 60px;
  }

  .section__intro > .section__title {
    grid-area: title;
    padding: 0;
  }

  .section__intro > .card:nth-child(2) {
    grid-area: card1;
    padding: 0;
  }

  .section__intro > .card:nth-child(3) {
    grid-area: card2;
    padding: 0;
  }

  .section__intro > .card {
      grid-column: 2;
  } 

  .section__reason {
    margin-block-start: 80px;
  }

  .section__reason > .section__title {
    width: 236px;
    padding: 0;
  }

  .section__reason > .card {
    padding: 20px 0 0;
  }

  .section__recommendation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "title sub-title"
    "title card1"
    ".     card2"
    ".     card3"
    ".     card4"
    ".     card5";
    gap: 20px;
    margin-block-start: 80px;
  }

  .section__recommendation > .section__title {
    grid-row: title;
    padding: 0;
  }

  .section__recommendation > .sub-title-decor {
    grid-area: sub-title;
    margin: 0;
  }

  .section__recommendation > .card:nth-child(3) {
    grid-area: card1;
    padding: 0;
  }

  .section__recommendation > .card:nth-child(4) {
    grid-area: card2;
    padding: 0;
  }

  .section__recommendation > .card:nth-child(5) {
    grid-area: card3;
    padding: 0;
  }

  .section__recommendation > .card:nth-child(6) {
    grid-area: card4;
    padding: 0;
  }

  .section__recommendation > .card:nth-child(7) {
    grid-area: card5;
    padding: 0;
  }

  .section__recommendation > .card {
    grid-column: 2;
  }

  .pictures {
    margin-block: 80px 50px;
  }

  .galery {
    display: grid;
    grid-template-columns: 229fr 230fr 229fr;
    grid-template-rows: 24% 29% 40%;
    grid-auto-flow: dense;
    grid-template-areas:
    "pic1 pic1 pic2"
    "pic3 pic4 pic2"
    "pic3 pic5 pic5";
    gap: 20px;
    margin-block-start: 20px;
  }

  .pictures__item-image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .pictures__item:nth-child(1) {
    grid-area: pic1;
  }

  .pictures__item:nth-child(2) {
    grid-area: pic2;
  }

  .pictures__item:nth-child(3) {
    grid-area: pic3;
  }

  .pictures__item:nth-child(4) {
    grid-area: pic4;
  }

  .pictures__item:nth-child(5) {
    grid-area: pic5;
  }

}

@media screen and (min-width: 1024px) {
  .header {
    min-height: max(100dvh, 768px);
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    transition: all 1s 0s;
  }

  .header__theme-menu-list {
    display: inline-flex;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: clamp(177px, -123.00px + 39.06vw, 277px);
  }

  .header__sub-title {
    margin-block-start: clamp(113px, 305.00px + -18.75vw, 161px);
    max-width: 491px;
  }

  .section__reason {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "title title title"
    "card1 card2 card3";
    gap: 20px;
  }

  .section__reason > .section__title {
    grid-area: title;
    width: 315px;
  }

   .section__reason > .card:nth-child(2) {
    grid-area: card1;
    padding: 0;
  } 

   .section__reason > .card:nth-child(3) {
    grid-area: card2;
    padding: 0;
  } 

   .section__reason > .card:nth-child(4) {
    grid-area: card3;
    padding: 0;
  }

  .footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}